body{


    /* color de fondo de pagina */
background:url(public/werner-du-plessis-6dDHofabCQ8-unsplash\ \(1\).jpg);
/* Ajusta laimagen */

background-size: cover;

}


header{ 
    backdrop-filter: blur(4px);

}

.h2Styles{
color: aqua;
}

#h2Styles{
    color: chartreuse;
}

.section1 #h2Styles{
    background-color: aliceblue;
}


header{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

header{

    margin: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
ul li a {

    color: aliceblue;

}

.button {
    display: inline-block;
    border-radius: 3px;
    padding: 7px 12px;
    border: 10px solid #D5D5D5;
    background-image: linear-gradient(#EEE #DDD);
    font: 700 13px /18px helvetica, arial ;
    }

.button--state--success{
    color: #FFF;
    background:#569E3D linear-gradient(#79D858 #569E3D) repeat;
    border-color: #569E3D;
}

.button--state--danger {
        color: #900;
}


.button--state--info{
    color: #FFF;
    background: rgb(255, 174, 0);
    border-color: #79D858;
}


